In [1]:
import pandas as pd
import numpy as np

In [2]:
test=pd.read_csv('/Users/rianrachmanto/pypro/project/Jakarta-Air-Quality-Prediction/data/raw/indeks-standar-pencemar-udara-di-provinsi-dki-jakarta-bulan-desember-tahun-2021.csv')

In [3]:
test.head()

      tanggal  pm10  pm25  so2  co  o3  no2  max critical categori location
0  2021-12-01    63   100   43  13  41   30  100     PM25   SEDANG     DKI4
1  2021-12-02    35    56   42   7  40   14   56     PM25   SEDANG     DKI4
2  2021-12-03    54    71   43   9  48   17   71     PM25   SEDANG     DKI4
3  2021-12-04    50    65   45  13  43   16   65     PM25   SEDANG     DKI3
4  2021-12-05    53    80   44  17  39   29   80     PM25   SEDANG     DKI4

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   31 non-null     object
 1   pm10      31 non-null     int64
 2   pm25      31 non-null     int64
 3   so2       31 non-null     int64
 4   co        31 non-null     int64
 5   o3        31 non-null     int64
 6   no2       31 non-null     int64
 7   max       31 non-null     int64
 8   critical  31 non-null     object
 9   categori  31 non-null     object
 10  location  31 non-null     object
dtypes: int64(7), object(4)
memory usage: 2.8+ KB

In [5]:
test.isna().sum()

tanggal     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    0
categori    0
location    0
dtype: int64